.container {
  position: relative;
  padding: 70px 5px 20px;

  .btn {
    position: absolute;
    top: 25px;
    left: 5px;
  }

  .commentGroup {
    min-width: 100%;

    .segmentNone {
      display: none;
    }

    .postBody {
      opacity: 0.6;
    }
  }
}