.container {
  position: relative;

  .notificationMessage {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    z-index: 1000;
  }

  .notificationMessageOpen {
    display: block;
  }
}