
.container {
  padding: 40px 20px 20px;

  .cardGroup {
    justify-content: center;

    .card {

      .headerContent {
        height: 70px;
        max-height: 70px;

        .cardHeader {
          min-height: 45px;
          height: 45px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .cardContent {
        color: black;
        opacity: 0.7;
      }
    }
  }
}